.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "appbar appbar"
                         "sidebar sidebar"
                         "content content";
    gap: 16px;
}

.flex-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
